/*
* Some simple styling for the extension panel
*/

body {
    width: 400px;
    height: 400px;
    overflow-x: hidden;
    padding-top: 50px;
}

section { padding: 10px;}

#page-container {
    min-height: 100%;
    height: auto;
    margin: 0 auto -30px;
}

.navbar {
    margin-bottom: 2px;
}
.navbar img{
    max-height: 90%;
}

#footer {
    height: 30px;
    background-color: #f4f4f4;
}
#communication-board {
    width: 70%;
    padding-top: 5px;
    margin-left: auto;
    margin-right: auto;
}


